@import url(./variables.css);

/*======BASE STYLES======*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background-color:var(--background-color);
    display:grid;
    height:100vh;
    grid-auto-rows:125px auto 100px; 
    grid-template-areas:
    "header header"
    "main main"
    "main main"
    "main main"
    "main main"
    "main main"
    "footer footer";
}

/*======HEADER STYLES======*/

header{
    background-color:var(--foreground-color);
    display:grid;
    grid-area:header;
    grid-template-columns:2fr 3fr;
}


.hamburger-menu{
    display:flex;
    flex-direction:column;  
    left:25px; 
    position:absolute;
    row-gap:15px;
    top:15px;  
    z-index:3;
}

.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input{
    background-color:var(--background-color);
    border-radius:1000px;
    content:"";
    height:19px;
    transition-property:opacity, width, rotation;
    transition-duration:200ms;
    width:130px;
}

.hamburger-menu input{
    appearance:none;
}

.hamburger-menu > input:checked{
    opacity:0;
    width:0;
}

.hamburger-menu:has(input:checked)::after{
    transform-origin:left center;
    width:96px;
    rotate:-45deg;
}

.hamburger-menu:has(input:checked)::before{
    transform-origin:left center;
    width:96px;
    rotate:45deg;
}

nav:has(input:checked){
    position:fixed;
}

.sidebar{
    background-color:var(--navbar-color);
    transition-property:width;
    transition-duration:200ms;
    height:100vh;
    position:relative;
    width:0%;
}

.menu-links{
    color:var(--foreground-color);
    display:flex;
    flex-direction:column;
    font-family:var(--main-font-style);
    font-size:2rem;
    padding-top:125px; 
    width:100%;
} 

.menu-links a{
    border-top:1px solid var(--foreground-color);
    padding-bottom:25px;
    padding-top:25px;
    padding-left:10px;
}

.menu-links:last-child{
    border-bottom:1px solid var(--foreground-color);
}

.hamburger-menu:has(input:checked) + .sidebar{
    width:75vw;
}

.hamburger-menu:has(input:not(:checked)) + .sidebar > .menu-links{
    display:none;
}

/*======MAIN STYLES======*/
main{
    grid-area:main;  
    display:flex;
    justify-content:center;
}

.calculator{
    display:grid;
    height:100%;
    grid-template-rows:2fr 7fr;
    width:95%;
}

.results{
    align-items:flex-end;
    background-color:whitesmoke;
    border-radius:20px;
    display:flex;
    justify-content:flex-end;
    margin:15px 3px;
    padding:5px 15px;
    position:relative;
}

.results__write-space{
    font-family:var(--main-font-style);
    font-size:3rem;
    font-weight:600;
}

.last-expr{
    font-family:monospace;
    font-size:1.8rem;
    font-weight:900;
    opacity:0.5;
    left:30px;
    bottom:60px;
    position:absolute;
}

.buttons{
    display:grid;
    grid-auto-rows:70px;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    row-gap:15px;
}

button{
    aspect-ratio:1/1;
    border-radius:20px;
    font-family:var(--main-font-style);
    font-size:400%;
    font-weight:900;
    width:95%;
}

/*OPERATION-BUTTONS*/
.clear-button{
    grid-column:1/2;
    grid-row:1/2;
}
.undo-button{
    grid-column:2/3;
    grid-row:1/2;
}
.percentage-button{
    grid-column:3/4;
    grid-row:1/2;
}
.divide-button{
    grid-column:4/5;
    grid-row:1/2;
}
.multiply-button{
    grid-column:4/5;
    grid-row:2/3;
}
.subs-button{
    grid-column:4/5;
    grid-row:3/4;
}
.sum-button{
    grid-column:4/5;
    grid-row:4/5;
}
/*NUMBER-BUTTONS*/
.one-sign{
    grid-column:1/2;
    grid-row:2/3;
}
.two-sign{
    grid-column:2/3;
    grid-row:2/3;
}
.three-sign{
    grid-column:3/4;
    grid-row:2/3;
}
.four-sign{
    grid-column:1/2;
    grid-row:3/4;
}
.five-sign{
    grid-column:2/3;
    grid-row:3/4;
}
.six-sign{
    grid-column:3/4;
    grid-row:3/4;
}
.seven-sign{
    grid-column:1/2;
    grid-row:4/5;
}
.eight-sign{
    grid-column:2/3;
    grid-row:4/5;
}
.nine-sign{
    grid-column:3/4;
    grid-row:4/5;
}
.zero-sign{
    aspect-ratio:2 / 1;
    grid-column:1/3;
    grid-row:5/6;
}
/*OTHER-BUTTONS*/
.semi-button{
    grid-column:3/4;
    grid-row:5/6;
}

.equal-sign{
    grid-column:4/5;
    grid-row:5/6;
}

/*======FOOTER STYLES======*/
footer{
    align-items:center;
    background-color:var(--footer-color);
    display:flex;
    justify-content:center;
    grid-area:footer;
    margin-top:20px;
}

.footer-info{
    color:whitesmoke;
    font-family:var(--main-font-style);
    font-size:1.5rem;
    font-weight:900;
}